<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.quadroq.sexdice" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.quadroq.sexdice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".coloradd.AddColorActivity"
            android:label="@string/add_color" />
        <service android:name="ro.quadroq.sexdice.ColorWatchListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <provider
            android:name="ro.quadroq.sexdice.ColorContentProvider"
            android:authorities="ro.quadroq.contentprovider" >
        </provider>

        <!--<meta-data android:name="com.google.android.wearable.beta.app"-->
            <!--android:resource="@xml/wearable_app_desc"/>-->
    </application>

</manifest>
